streamlit==1.35.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1+cpu
transformers==4.44.2
pdfplumber==0.11.4
googlesearch-python==1.2.3
beautifulsoup4==4.12.2
sentencepiece